<div class="dashboard-main">
  <div class="box-container">
    
    <div class="box box1">
      <div class="text">
        <i class="fa fa-user-group fa-2x"></i>
        <h2 class="topic-heading">Total Donors</h2>
        <p class="count">{{ total_donors }}</p>
      </div>
    </div>
    <div class="box box2">
      <div class="text">
        <i class="fa fa-user-group fa-2x"></i>
        <h2 class="topic-heading">Total Patients</h2>
        <p class="count">{{ total_patients }}</p>
      </div>
    </div>
    <div class="box box3">
      <div class="text">
        <i class="fa fa-user-group fa-2x"></i>
        <h2 class="topic-heading">Total Hospital</h2>
        <p class="count">{{ total_hospital }}</p>
      </div>
    </div>

    <div class="box box4">
      <div class="text">
        <i class="fa fa-address-book fa-2x"></i>
        <h2 class="topic-heading">Total Blood Units</h2>
        <p class="count">{{ total_stock }}</p>
      </div>
    </div>

    <div class="box box5">
      <div class="text">
        <i class="fa fa-users fa-2x"></i>
        <h2 class="topic-heading">Total Requests</h2>
        <p class="count">{{ total_requests }}</p>
      </div>
    </div>

    <div class="box box6">
      <div class="text">
        <i class="fa fa-hourglass-half fa-2x"></i>
        <h2 class="topic-heading">Pending</h2>
        <p class="count">{{ pending_count }}</p>  <!-- 👈 This will show the number -->
      </div>
    </div>

  </div>
</div>
